<h2 class="text-center">Log List</h2>

<nz-range-picker
  [(ngModel)]="dateRange"
  [nzFormat]="'yyyy-MM-dd HH:mm:ss'"
  [nzShowTime]="true"
  (ngModelChange)="searchLogsByTime()">
</nz-range-picker>

<div>
    <input [(ngModel)]="requestUrl" placeholder="Search for ID" />
    <button (click)="searchLogs()">Search</button>
</div>
<div>
    <table class= "table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>timestamp</th>
                <th>api_name</th>
                <th>method</th>
                <th>status_code</th>
                <th>request_url</th>
                <th>request_body</th>
                <th>response</th>
                <th>error</th>
                <th>user_id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let log of logs' >
                <td>{{log.id}}</td>
                <td>{{log.timestamp}}</td>
                <td>{{log.api_name}}</td>
                <td>{{log.method}}</td>
                <td>{{log.status_code}}</td>
                <td>{{log.request_url}}</td>
                <td>{{log.request_body}}</td>
                <td>{{log.response}}</td>
                <td>{{log.error}}</td>
                <td>{{log.user_id}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>

    <!-- Hiển thị các số trang -->
    <span *ngFor="let page of [].constructor(totalPages); let i = index">
      <button (click)="changePage(i)" [class.active]="i === currentPage" >{{ i + 1 }}</button>
    </span>

    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">Next</button>
</div>

<style>
    .pagination button.active {
      font-weight: bold;
      background-color: #007bff;
      color: white;
    }
  </style>